@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: rgba(150, 150, 150, 0.658);
}

header {
    color: white;
    background-color: black;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header > p > a:hover {
    text-decoration: underline;
}

section {
    padding-left: 30px;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(36, 36, 36);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(17, 17, 17, 0.877);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer > p > a:hover {
    text-decoration: underline;
}