@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #038C7F, #027373);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    background-color: #d952527a ;
    text-align: center;
    color: #0D0D0D;
    border-radius: 5px;
}

h2 {
    color: #D95252;
}

p{
    text-align: justify;
}
